@using GoAgile.Models

@model ManageRetrospectiveViewModel

@{
    ViewBag.Title = "ManageRetrospective";
}

<h2>ManageRetrospective</h2>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <link href="~/Content/customModals.css" rel="stylesheet" />
    <link href="~/Content/customWell.css" rel="stylesheet" />
    <link href="~/Content/customeText.css" rel="stylesheet" />
    <script>
        $(function () {
            // Retrospective URL
            var ret_url;

            //  state: "waiting", "running", "presenting", "finished"
            var state;

            // Retrospective Guid
            var guidId;

            // User Name
            var user;

            // List of items 
            // TODO: binary search and inser at position
            var itemIdList = [];

            // Page loaded
            $(document).ready(function () {

                ret_url = '@Model.Url';
                state = '@Model.State';
                guidId = '@Model.GuidId';
                user = "Project Manager";

                $('#div_url').text(ret_url);

                switch (state) {
                    case "waiting":
                        disableListButtons(true);
                        $('#manage_running').show();
                        $('#btn_stop_running').prop('disabled', true);
                        break;
                    case "running":
                        $("#manage_running").show();
                        $('#btn_start_running').prop('disabled', true);
                        disableListButtons(false);
                        break;
                    case "presenting":
                        $('#manage_presenting').show();
                        disableListButtons(true);
                        // TODO: get all itemPending from ither PMs with enabled share button
                        break;
                    case "finished":
                        $('#modalFinished').modal('show');
                        break;
                }
            });

            // Inicialize hub connection
            var retHub = $.connection.retrospectiveHub;

            $.connection.hub.start().done(function () {
                if (state == "presenting")
                    retHub.server.sendAllSharedItems(guidId);

                retHub.server.logPm(guidId);
            });


            // Start Retrospective running
            $('#btn_start_running').click(function () {
                retHub.server.startRetrospectiveRunning(guidId);
            });

            // Start Retrospective presenting
            $('#btn_stop_running').click(function () {
                retHub.server.startRetrospectivePresenting(guidId);
            });

            // Finish Retrospective
            $('#btn_stop_presenting').click(function () {
                retHub.server.retrospectiveComplete(guidId);
            });

            // Navigate to home page
            $('#btn_home').click(function () {
                // TODO:
            });

            // Navigate to Retrospective History
            $('#btn_history').click(function () {
                // TODO:
            });

            // Share Item
            $(document).on('click', '.share', function () {

                listId = $(this).parent().parent().parent().attr('id');
                column = $(this).parent().parent().parent().attr('name');
                text = $(this).parent().parent().find('.itemPending').val();

                $(this).parent().parent().remove();

                retHub.server.sendSharedItem(listId, column, text, user, guidId);
            });

            // Retrospective started running
            retHub.client.startRunningMode = function () {
                state = "running";
                $('#btn_start_running').prop('disabled', true);
                $('#btn_stop_running').prop('disabled', false);
                disableListButtons(false);
            }

            // Retrospective started presenting
            retHub.client.startPresentingMode = function () {
                state = "presenting";
                $("#manage_running").hide();
                $("#manage_presenting").show();
                $('.share').prop('disabled', false);
                $('.itemPending').prop('disabled', true);
                disableListButtons(true);
            }

            // Retrospective is finished
            retHub.client.retrospectiveFinished = function () {
                state = "finished";
                $('#modalFinished').modal('show');
            }

            // Recieve shared Item
            retHub.client.recieveSharedItem = function (item) {
                addSharedItem(item.itemGuid, item.listId, item.column, item.autor, item.text);
            }

            // Recieve all shared Items
            retHub.client.recieveAllSharedItems = function (data) {
                var item = $.parseJSON(data);

                for (var i = 0; i < item.length; i++) {
                    addSharedItem(item[i].itemGuid, item[i].listId, item[i].column, item[i].autor, item[i].text);
                }
            }

            // Start column Add
            $('#btn_start_addItem').click(function () {
                addListItem("list_start", "start");
            });

            // Continue column Add
            $('#btn_continue_addItem').click(function () {
                addListItem("list_continue", "Continue");
            });

            // Stop column Add
            $('#btn_stop_addItem').click(function () {
                addListItem("list_stop", "Stop");
            });

            // Add list item to list
            function addListItem(list, placeholder) {
                $('#' + list).append(
                   $('<li class="list-group-item well clearfix listBlock">').append(
                       $('<textarea type="textarea" class="form-control itemPending" rows="3" placeholder="' + placeholder + '"></textarea>' +
                         '<div class="btn-group" role="group">' +
                         '<input type="button" class="btn btn-success share" disabled value="Share"/>' +
                         '<input type="button" class="btn btn-danger delete" value="Delete"/>' +
                         '</div>'
                )));
            };

            // Add shared Item to list
            function addSharedItem(itemGuid, listId, column, autor, text) {
                var exist = false;

                for (var i = 0; i < itemIdList.length; i++) {
                    if (itemGuid == itemIdList[i])
                        exist = true;
                }

                if (exist == false) {
                    itemIdList.push(itemGuid);

                    $('#' + listId).prepend(
                        $('<li class="list-group-item well well-success  clearfix listBlock">').append(
                            $('<h4>' + column + '</h4><h5>by ' + autor + '</h5>' +
                              '<textarea type="textarea" class="form-control itemPending" disabled rows="3">' + text + '</textarea>'
                    )));
                }
            };

            // Delete Item from columns
            $(document).on('click', '.delete', function () {
                $(this).parent().parent().remove();
            });

            // Disable list add (+) buttons
            function disableListButtons(state) {
                $('#btn_start_addItem').prop('disabled', state);
                $('#btn_continue_addItem').prop('disabled', state);
                $('#btn_stop_addItem').prop('disabled', state);
            };


            retHub.client.updateUsersOnlineCount = function (count) {
                $('#online_users').text('count: ' + count);
            };

            retHub.client.recieveOnlineUsers = function (data) {
                var items = $.parseJSON(data);

                $('#list_users').empty();
                
                for (var i = 0; i < items.length; i++) {
                    $('#list_users').append(                       
                        '<li class"list-group-item users">' + items[i] + '</li>'
                    );
                }
            };

        });
    </script>
}


<!-- Modal Finished-->
<div class="modal fade" id="modalFinished" hidden tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h1>Retrospective is Done</h1>
            </div>
            <div class="modal-body">
                Go to home page or see retrospective data
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_home" class="btn btn-primary text-center">Home</button>
                <button type="button" id="btn_history" class="btn btn-primary text-center">Data</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



 <!-- Page -->
<div class="container">      
        <div class="row">
            <!-- Online USers panel-->
            <div class="col-md-2">
                <div class="title-marketing"><h3>Online Users</h3></div>
                <div id="online_users"></div>
                <div class="title-marketing"><h3>Users:</h3></div>
                <ul class="list-group" name="users" id="list_users"></ul>
            </div> <!-- /Online USers panel -->
           
            <div class="col-md-10">
                <!-- Top well URL -->
                <div class="well"> 
                    <div class="row text-center">
                        <div class="col-sm-12 text-center">
                            <h3>Send this URL to your team</h3>
                            <font size="4"><div class="breake-word" id="div_url"></div></font>
                        </div>
                    </div>
                    <!-- Running State Manager -->
                    <div class="row" hidden id="manage_running">
                        <div class="col-md-6 text-center">

                        </div>
                        <div class="col-md-6 text-center">                            
                            <div class="btn-group btn-group-lg pull-right" role="group">
                                <button type="button" id="btn_start_running" class="btn btn-primary text-center">Start</button>
                                <button type="button" id="btn_stop_running" class="btn btn-danger text-center">Stop</button>
                            </div>
                        </div>
                        
                    </div> <!-- /Running State Manager -->
                    <!-- Presenting State Manager -->
                    <div class="row" hidden id="manage_presenting">
                        <h3>Presenting Phase</h3>
                        <div class="col-md-6 text-center">

                        </div>
                        <div class="col-md-6 text-center">                            
                            <div class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
                                <button type="button" id="btn_stop_presenting" class="btn btn-danger text-center">Finish Retrospective</button>
                            </div>
                        </div>
                        
                    </div> <!-- /Presenting State Manager -->
                </div> <!-- /Top well URL -->
                <!-- Columns Start, Continue, Stop -->
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="title-marketing"><h3>Start</h3></div>
                        <ul class="list-group" name="Start" id="list_start"></ul>
                        <button type="button" id="btn_start_addItem" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="title-marketing"><h3>Stop</h3></div>
                        <ul class="list-group" name="Stop" id="list_stop"></ul>
                        <button type="button" id="btn_stop_addItem" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="title-marketing"><h3>Continue</h3></div>
                        <ul class="list-group" name="Continue" id="list_continue"></ul>
                        <button type="button" id="btn_continue_addItem" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div><!-- /Columns Start, Continue, Stop -->
            </div>
        </div>
</div>

