@using GoAgile.Models
@model RetrospectiveViewModel
@{
    ViewBag.Title = "Retrospective";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>    
    <link href="~/Content/customModals.css" rel="stylesheet" />
    <script>
        // TODO: own script file

        $(function () {
            //  state: "waiting", "running", "presenting", "finished"
            var state;

            // Retrospective Guid
            var guidId;

            // Page Loaded -> show login modal
            $(document).ready(function () {
                state = '@Model.State';
                guidId = '@Model.GuidId';                

                $('#modalLogin').modal('show');

                // TODO: delete
                $('#sendstate').text(state);
                $('#sendguid').text(guidId);
                $('#curstate').text(state);
            });


            var retHub = $.connection.retrospectiveHub;

            $.connection.hub.start();

            // Login user
            $('#modalLogInButton').click(function () {
                retHub.server.loginUser($('#modalNickName').val(), $('#modalEmail').val(), guidId);
            });

            // Invalid input Login modal
            retHub.client.invalidLoginInput = function () {
                $('#testInValidInput').text("invalid input");
                // TODO:
            };

            // User is logged
            retHub.client.userLogged = function () {
                switch (state) {
                    case "waiting":
                        $('#modalWaiting').modal('show');
                        $('#modalLogin').modal('hide');
                        break;
                    case "running":
                    case "presenting":
                        $('#modalWaiting').modal('hide');
                        $('#modalLogin').modal('hide');
                        break;
                    case "finished":
                        break;
                }
            };

          

            // Retrospective started
            retHub.client.startRequest = function () {
                state = "running";
                $('#modalWaiting').modal('hide');
            }


            retHub.client.updateUsersOnlineCount = function (count) {
                $('#usersCount').text(count);
            };




            // Start column Add
            $('#btnstart').click(function () {
                $('#startlist').append(
                    $('<li class="list-group-item well clearfix">').append(
                        $('<textarea type="textarea" class="form-control" rows="3" placeholder="Start"></textarea>' +
                          '<input type="button" class="btn btn-primary delete pull-right" value="Delete"/>')
                ));
            });

            // Continue column Add
            $('#btncontinue').click(function () {
                $('#continuelist').append(
                    $('<li class="list-group-item well clearfix">').append(
                        $('<textarea type="textarea" class="form-control" rows="3" placeholder="Continue"></textarea>' +
                          '<input type="button" class="btn btn-primary delete pull-right" value="Delete"/>')
                ));
            });

            // Stop column Add
            $('#btnstop').click(function () {
                $('#stoplist').append(
                    $('<li class="list-group-item well clearfix">').append(
                        $('<textarea type="textarea" class="form-control" rows="3" placeholder="Stop"></textarea>' +
                          '<input type="button" class="btn btn-primary delete pull-right" value="Delete"/>')
                ));
            });

            // Delete Item from columns
            $(document).on('click', '.delete', function () {
                $(this).parent().remove();
            });

        });</script>
}




<!-- Modal LogIn-->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h1>Enter Retrospective</h1>
            </div>
            <div class="modal-body">
                <form id="logInForm">
                    <div class="form-group">
                        <label class="control-label">NickName:</label>
                        <input type="text" class="form-control" id="modalNickName" name="modalNickName" placeholder="Enter Nick Name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input type="text" class="form-control" id="modalEmail" name="modalEmail" placeholder="Enter Email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- remove after implementation of valdiation messages --> <div id="testInValidInput"></div>
                <button type="button" id="modalLogInButton" class="btn btn-primary text-center">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Waiting-->
<div class="modal fade" id="modalWaiting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h1>Waiting for the Start</h1>
            </div>
            <div class="modal-body">
                Please Wait until Retrospective starts.
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-sidebar">
                UsersOnline:
                <div id="usersCount"></div>
            </ul>
            <ul class="nav nav-sidebar">
                current state:
                <div id="curstate"></div>
            </ul>
            <ul class="nav nav-sidebar">
                send guid:
                <div id="sendguid"></div>
            </ul>
            <ul class="nav nav-sidebar">
                send state:
                <div id="sendstate"></div>
            </ul>
        </div>
        <!-- Columns Start, Continue, Stop -->
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="title-marketing"><h3>Start</h3></div>
                    <ul class="list-group" id="startlist">
                    </ul>
                    <button type="button" id="btnstart" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="title-marketing"><h3>Stop</h3></div>
                    <ul class="list-group" id="continuelist">
                    </ul>
                    <button type="button" id="btncontinue" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="title-marketing"><h3>Continue</h3></div>
                    <ul class="list-group" id="stoplist">
                    </ul>
                    <button type="button" id="btnstop" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
