
@{
    ViewBag.Title = "GoAgile";
}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Retrospective</h3></div>
                <div class="panel-body"> Meeting facilitated by the ScrumMaster at which the team discusses the just-concluded sprint and determines what could be changed that might make the next sprint more productive.</div>
                <a href="@Url.Action("CreateRetrospective", "Retrospective")" class="btn btn-primary">
                    Create Retrospective
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Brainstorming</h3></div>
                <div class="panel-body">Coming soon</div>
                <button type="button" disabled class="btn btn-primary">Coming soon</button>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Poker planning</h3></div>
                <div class="panel-body">Coming soon</div>
                <button type="button" disabled class="btn btn-primary">Coming soon</button>
            </div>
        </div>
    </div>
</div>