/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f5f5f5; /* Black*/
    border: 1px solid #e3e3e3;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: none; /* 0.5 second transition effect to slide in the sidenav */
    color: #222222;
}
 
/* The navigation menu list */
.sidenav h5 {
    padding: 2px 10px 2px 10px;
    text-decoration: none;    
    display: block;
    transition: none;
}
 
/* The navigation menu list */
.sidenav li {
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    display: block;
    transition: none;
}
 
.glyphicon-user {
    /*font-size: 10px;*/
    color: #428bca;
}

.glyphicon-ok {
    /*font-size: 10px;*/
    color: #5cb85c;
}
 
/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}*/
 
/* Position and style the close button (top right corner) */
/*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: none;
    padding: 20px;
    margin-Left: 200px;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 768px ) {
    .sidenav {width: 0px;}
    #main {margin-Left: 0px;}
}