.well-primary {
        background-color: #428bca;        
        border-color: #357ebd;
        color: #ffffff;
}

.well-warning {
        background-color: #f0ad4e;        
        border-color: #eea236;
}

.well-danger {
        background-color: #d9534f;        
        border-color: #d43f3a;
        color: #ffffff;
}

.well-success {
        background-color: #5cb85c;        
        border-color: #4cae4c;
}

.well-shared0 {
        background-color: #07701c;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user0 {
        color: #07701c;
}

.well-shared1 {
        background-color: #ff6363;       
        color: #000000; 
        border-color: #ffffff;
}

.user1 {
        color: #ff6363;
}

.well-shared2 {
        background-color: #e3ea83;       
        color: #000000; 
        border-color: #ffffff;
}

.user2 {
        color: #e3ea83;  
}

.well-shared3 {
        background-color: #680404;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user3 {
        color: #680404; 
}

.well-shared4 {
        background-color: #a379f2;       
        color: #000000; 
        border-color: #ffffff;
}

.user4 {
        color: #a379f2;  
}

.well-shared5 {
        background-color: #5f632c;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user5 {
        color: #5f632c;   
}

.well-shared6 {
        background-color: #ce7500;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user6 {
        color: #ce7500; 
}

.well-shared7 {
        background-color: #b20e9c;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user7 {
        color: #b20e9c;    
}

.well-shared8 {
        background-color: #000000;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user8 {
        color: #000000;  
}

.well-shared9 {
        background-color: #00f6ff;       
        color: #000000; 
        border-color: #ffffff;
}

.user9 {
        color: #00f6ff;  
}

.well-shared10 {
        background-color: #78a51f;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user10 {
        color: #78a51f;  
}

.well-shared11 {
        background-color: #703b69;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user11 {
        color: #703b69;   
}

.well-shared12 {
        background-color: #cc0202;       
        color: #ffffff; 
        border-color: #ffffff;  
}

.user12 {
        color: #cc0202;    
}

.well-shared13 {
        background-color: #04d12d;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user13 {
        color: #04d12d;     
}

.well-shared14 {
        background-color: #f7a400;       
        color: #000000; 
        border-color: #ffffff;
}

.user14 {
        color: #f7a400;
}

.well-shared15 {
        background-color: #651aef;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user15 {
        color: #651aef;   
}

.well-shared16 {
        background-color: #00ff72;       
        color: #000000; 
        border-color: #ffffff;
}

.user16 {
        color: #00ff72;      
}

.well-shared17 {
        background-color: #d6d6d6;       
        color: #000000; 
        border-color: #ffffff;
}

.user17 {
        color:  #d6d6d6;      
}

.well-shared18 {
        background-color: #e9f902;       
        color: #000000; 
        border-color: #ffffff;
}

.user18 {
        color: #e9f902;     
}

.well-shared19 {
        background-color: #0011ff;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user19 {
        color: #0011ff;     
}

